*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 7rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.card{
  width: 15%;
  height: 220px;
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 2px 4px 5px rgb(94, 93, 93);
}
.color{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: brown;
  width: 100%;
  height: 70%;
}